body{
    font-family: "Oxanium", sans-serif;
    margin: 0;
}

#hero{
    background-image: url("images/zurg_background.webp");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 80px;
}

#ad{
    text-align: center;
    color: #73b429;
    font-size: 200%;
    line-height: 30%;
    letter-spacing: .3em;
}

.shadow {
    text-shadow: 0px 0px 5px black, 0px 0px 5px black;
}

#logo {
    width: 15%;
}

#claw{
    padding-bottom: 0;
    border-bottom: 8px solid #d2100b;
}

button{
    font-family: inherit;
    background-color: #d2100b;
    border: none;
    font-weight: bold;
    font-size: 100%;
    border-radius: 4px;
    box-shadow: 0 0 10px #73b429;
}

#terms{
    background-color: white;
    text-align: center;
    color: #512b7c;
}